*.exe
*.gcda
*.gcno
*.gcov
*.gz
*.info
*.la
*.lo
*.log
*.o
*.texi
*~
*/.deps
*/.libs
*.cache
*.plist
*.stamp
ABOUT-NLS
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
data
depcomp
docs/html/
docs/libhsts.doxy
docs/man/
docs/md2man.sh
fuzz/*.log
fuzz/*.trs
fuzz/*_fuzzer
fuzz/*_fuzzer.new
include/libhsts.h
install-sh
lcov/
libhsts.info
libhsts.pc
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
nbproject/
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/hsts.pot
po/libhsts.pot
po/quot.sed
po/remove-potcdate.sin
po/remove-potcdate.sed
po/stamp-po
src/suffixes.c
src/suffixes_dafsa.c
stamp-h1
test-driver
tests/*.log
tests/*.trs
tests/hsts_ascii.dafsa
tests/hsts.dafsa
tests/hsts.json
tests/test-hsts
tools/hsts
